@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form>
    <p>
        <select asp-for="ManagerName" asp-items="Model.Managers">
            <option value="">All</option>
        </select>
        <button type="submit">Filter</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="Create">Add Employee</a>
</p>